<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Paste{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>

        <div class="wrapper">
            <div class="bar-shadow">
                <div class="bar">
                    <div class="island">
                        <div class="bar-left">
                            <h1><a href="/">Paste</a></h1>
                        </div>
                        <ul class="bar-right">
                            <li><a{% if selected == 'create' %} class="selected"{% endif %} href="/">Create</a></li><!--
                         --><li><a{% if selected == 'about' %} class="selected"{% endif %}  href="/about">About</a></li><!--
                         --><li><a{% if selected == 'contact' %} class="selected"{% endif %}  href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="island">
                <div class="main">
                    {% block main %}{% endblock %}
                </div>
                <div class="latest">
                    {% include 'latest.twig' %}
                </div>
                <div class="push"></div>
            </div>
        </div>

        <div class="cf footer island">
            <p class="pull-left">{{ count }} pastes and counting</p>
            <p class="pull-right">&copy; 2013 Adam Boxall</p>
        </div>

        <script src="/assets/js/main.js"></script>

    </body>
</html>