<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Paste{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>

        <div class="wrapper">
            <div class="bar-shadow">
                <div class="bar">
                    <div class="island">
                        <div class="bar-left">
                            <h1><a href="/">Paste</a></h1>
                        </div>
                        <ul class="bar-right">
                            <li><a{% if selected == 'create' %} class="selected"{% endif %} href="/">Create</a></li><!--
                         --><li><a{% if selected == 'about' %} class="selected"{% endif %}  href="/about">About</a></li><!--
                         --><li><a{% if selected == 'contact' %} class="selected"{% endif %}  href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="island">
                <div class="main">
                    {% block main %}{% endblock %}
                </div>
                <div class="latest">
                    <h2>Latest Pastes</h2>
                    <ul>
                        {% for paste in latest %}
                            <li>
                                <span class="pull-left"><a href="/{{ paste.hexId }}">{{ paste.normalisedTitle }}</a></span>
                                <span class="pull-right highlight">{{ paste.syntax.displayName }}</span>
                                <br>
                                <span class="lowlight">{{ paste.createdFormatted }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="push"></div>
            </div>
        </div>

        <div class="footer island">
            <p>&copy; 2013 Adam Boxall</p>
        </div>

        <script src="/assets/js/main.js"></script>

    </body>
</html>