{% extends 'base.twig' %}

{% block main %}

    <h2>Create new paste</h2>

    <form method="post" action="">
        <div class="cf field">
            <label for="paste_title">Title:</label>
            <input type="text" name="paste[title]" id="paste_title">
        </div>
        <div class="cf field">
            <label for="paste_syntax_id">Syntax:</label>
            <select name="paste[syntax_id]" id="paste_syntax_id">
                {% for syntax in syntaxes %}
                    {% if syntax.name == 'plain' %}
                        <option value="{{ syntax.id }}" selected>{{ syntax.displayName }}</option>
                    {% else %}
                        <option value="{{ syntax.id }}">{{ syntax.displayName }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="cf field">
            <label for="paste_expires_unit">Expires:</label>
            <select name="paste[expires_unit]" id="paste_expires_unit">
                <option value="">Never</option>
                <option value="hour">In an hour</option>
                <option value="day">In a day</option>
                <option value="week">In a week</option>
                <option value="month">In a month</option>
            </select>
        </div>
        <div class="cf field">
            <textarea name="paste[body]" class="code" placeholder="Enter your code..." required></textarea>
        </div>
        <div class="cf field">
            <div class="button form-submit">
                <input type="submit" value="Paste"> (or just press Ctrl + Enter)
            </div>
        </div>
    </form>

{% endblock %}