{% extends 'base.twig' %}

{% block main %}
    <h2>Viewing paste '{{ paste.normalisedTitle }}'</h2>
    <p>Created {{ paste.createdFormatted }}</p>
    <p>Syntax: {{ paste.syntax.displayName }}</p>
    <pre>{{ paste.body }}</pre>
{% endblock %}